html, body {
    margin: 0;
    padding: 0;
}

.content-grid {
    height: 100vh;
}

#map {
    height: 100vh;
    width: 100%
}

#rightPanel {
  height: 100vh;
}

#directionsPanel {
    display: none;
}

#icons {
    width: 20px;
}

#drawingToolPanel {
    margin-top: 2px;
}

.infoWindow {
    width: 300px;
}

.flexActions {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    width: 100%;
    box-sizing:border-box;
}

.mdl-list__item .mdl-list__item-primary-content .mdl-list__item-icon {
    margin-right: 12px !important;
}

.mdl-card__actions > .mdl-button--icon {
    margin-right: 3px;
    margin-left: 3px;
}

.detailsList {
    font-size: 10pt !important;
    width: 100% !important;
    padding: 0 !important;
}

.detailsListItem {
    padding: 0 !important;
    width: 100% !important;
}

.detailsListItem .mdl-list__item-primary-content {
    padding: 0 16px;
}

.mdl-card__title-text {
    font-size: 20px !important;
}

.visited {
    margin: 10px 0 0 17px;
}

.visited .mdl-chip__contact {
    height: 24px !important;
    width: 30px !important;
}

.visited .mdl-chip {
    height: 27px !important;
    line-height: 28px !important;
}

    /* Review CSS*/
.stars-outer {
    display: inline-block;
    position: relative;
    margin-left: 17px;
    font-size: 20px !important;
    font-family: 'Material Icons';
}

.stars-outer::before {
    content: "\E83A \E83A \E83A \E83A \E83A";
}

.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

.stars-inner::before {
    content: "\E838 \E838 \E838 \E838 \E838";
    color: #f8ce0b;
}
/* Review CSS*/