html, body {
    margin: 0;
    padding: 0;
}

.content-grid {
    height: 100vh;
}

#map {
    height: 100vh;
    width: 100%
}

#leftPanel {
    height: 100vh;
}

#analyticsDiv {
    width: 100%;
    overflow-y: scroll
}

#rightPanel {
  height: 100vh;
}

#directionsPanel {
    padding: 20px;
    display: none;
}

#headerPanel {
    margin-left: 20px;
    margin-top: 10px;
}

#icons {
    width: 20px;
}

#drawingToolPanel {
    margin-top: 2px;
}

.infoWindow {
    width: 300px;
}

.flexActions {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    width: 100%;
    box-sizing:border-box;
}

.mdl-list__item .mdl-list__item-primary-content .mdl-list__item-icon {
    margin-right: 12px !important;
}

.mdl-card__actions > .mdl-button--icon {
    margin-right: 3px;
    margin-left: 3px;
}

.detailsList {
    font-size: 10pt !important;
    width: 100% !important;
    padding: 0 !important;
}

.detailsListItem {
    padding: 0 !important;
    width: 100% !important;
}

.detailsListItem .mdl-list__item-primary-content {
    padding: 0 16px;
}

.mdl-card__title-text {
    font-size: 20px !important;
}

.visited {
    margin: 10px 0 0 17px;
}

.visited .mdl-chip__contact {
    height: 24px !important;
    width: 30px !important;
}

.visited .mdl-chip {
    height: 27px !important;
    line-height: 28px !important;
}

    /* Review CSS*/
.stars-outer {
    display: inline-block;
    position: relative;
    margin-left: 17px;
    font-size: 20px !important;
    font-family: 'Material Icons';
}

.stars-outer::before {
    content: "\E83A \E83A \E83A \E83A \E83A";
}

.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

.stars-inner::before {
    content: "\E838 \E838 \E838 \E838 \E838";
    color: #f8ce0b;
}
/* Review CSS*/

#graph {
    width: 900px;
    height: 500px;
    padding: 60px
}

.hide {
    display: none;
}

.show {
    display: block;
}

.demo-layout .mdl-layout__header .mdl-layout__drawer-button {
    color: rgba(0, 0, 0, 0.54);
}

.left-drawer {
    border: none;
}
/* iOS Safari specific workaround */
.left-drawer .mdl-menu__container {
    z-index: -1;
}
.left-drawer .demo-navigation {
    z-index: -2;
}
/* END iOS Safari specific workaround */
.left-drawer .mdl-menu .mdl-menu__item {
    display: flex;
    align-items: center;
}

.demo-layout .demo-navigation .mdl-navigation__link:hover {
    background-color: #00BCD4;
    color: #37474F;
}

.demo-navigation .mdl-navigation__link .material-icons {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.56);
    margin-right: 32px;
}

.mdl-layout__drawer {
    width: 350px;
    transform: translateX(-350px)
}
.mdl-layout--fixed-drawer.is-upgraded:not(.is-small-screen)>.mdl-layout__header {
    margin-left: 350px;
    width: calc(100% - 350px);
}
.mdl-layout--fixed-drawer.is-upgraded:not(.is-small-screen)>.mdl-layout__content {
    margin-left: 350px;
    width: calc(100% - 350px);
}

.mdl-textfield__expandable-holder {
    width: 400px;
}

#cleaDrawing {
    top: 3px;
    width: 24px;
    min-width: 24px;
    height: 24px;
    margin-left: -5px;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px -1px;
}